<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавить Преподавателя</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1>Добавить Преподавателя</h1>
<form action="/teachers" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" required>

    <label for="imageUrl">URL изображения:</label>
    <input type="text" id="imageUrl" name="imageUrl" required>

    <label for="description">Описание:</label>
    <textarea id="description" name="description" required></textarea>

    <button type="submit">Добавить</button>
</form>
</body>
</html>
